body {
    margin: 0%;
    width: 100%;
    height: 100%;
    background-image: url(https://webgradients.com/public/webgradients_png/083%20Jungle%20Day.png);
}

#top {
    position: relative;
    height: 100px;
    width: 960px;
}

#intop {
    position: absolute;
    left: 0;
    font-size: 29px; 
    height: 100px;
    background-color: #4aaaa5;
    vertical-align: middle;
    line-height: 85px;
    font-weight: bold;
    color: white;
}

#intop2 {
    height: 100px;
    width: 35%;
    float: right;
    line-height: 100px;
    vertical-align: middle;
}

header {
    background-color: white;
    width: 100%;
    height: 100px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

a {
    padding: 10px;
    color: gray;
    font-weight: bold;
}

section {
    height: 500px;
    width: 960px;
    background-color: white;
    margin-top: 70px;
    position: relative;
}

#lhead {
    padding-bottom: 10px;
    margin-bottom: 25px;
    height: 83px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
}

#title {
    text-align: left;
    float: left;
    font-weight: bold;
    margin: 20px;
    color: #4aaaa5;
    width: 80%;
    padding-bottom: 25px;
    margin-left: 35px;
}

#img1 {
    width: 250px;
    margin-left: 18px;
    float: left;
    padding-right: 25px;
}

#text {
    position: relative;
    font-size: 22px;
    color: #777777;
    right: 2px;
    width: auto;
}

footer {
    width: 100%;
    color: white;
    height: 50px;
    background-color: #666666;
    text-align: center;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    position: absolute;
    bottom: 0;
}

#inin {
    margin-left: 20px;
}

input {
    padding-left: 8px;
    width: 95%;
}

#large {
    height: 65px;
}

button {
    background-color: #4aaaa5;
    padding: 5px;
    width: 80px;
    color: white;
}
#bottom {
    margin-top: 15px;
}

h4 {
    font-size: 18px;
    text-align: left;
    padding: 10px 0px 0px 20px;
}

.other {
    margin-bottom: 10px;
}

textarea {
    width: 95%;
    height: 8vh;
    text-align: left;
}

a:hover {
    color: #4aaaa5;
}

@media screen and (max-width: 1000px) {
    #intop2 { width: 43%; }
    section { width: 750px; }
    #top { width: 750px; }
    #text {position: relative;}
}

@media screen and (max-width: 800px) {
    #intop2 { width: 51%; }
    section { width: 620px; }
    #top { width: 620px; }
    #text { float: left; position: relative; display: inline-block;}
    img { float: left; }
}

@media screen and (max-width: 680px) {
    header, #top {height: 200px; width: 100%; }
    #intop2 { float: left; width: 100%; }
    #intop { width: 100%; float: left; position: relative; }
    section { width: 100%; width: 500px; }
    #top { width: 100%; }
    #img1 { width: 470px; }
    #text {position: relative;}
}

@media screen and (max-width: 400px) {
    #img1 {width: 275px;}
    section {width: 350px;}
}

@media screen and (max-height: 720px) {
    footer { bottom: auto; padding: 25px 0 25px 0; margin-top: 25px; }
}